.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 150vh;
}

header {
  grid-column: 1 / 11;
  grid-row: 1 / 5;

  // display grid ========
  display: grid;
  grid-template-rows: 17% 81%;
  nav {
    grid-row: 20%;
    grid-column: 1/ 11;
    background-color: rgb(23, 24, 26);
    position: fixed;
    z-index: 10;
    // ===== display - flex =====
    display: flex;
    justify-content: space-between;
    align-items: center;
    #brand {
      flex-basis: 30%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 110%;
        height: 100%;
      }
    }
    .navbar {
      flex-basis: 60%;
      margin-right: 2%;
      // ====display-flex===
      display: flex;
      justify-content: flex-end;
      .navi {
        padding: 0.5rem;
        font-size: 1.1rem;
        margin: 2rem;
        text-decoration: none;
        color: white;
        text-align: center;
        position: relative;
        // hover
        transition: all 1s linear;
        &:hover {
          color: red;
          z-index: 1;
          &::after {
            animation: fill 1s forwards;
            -webkit-animation: fill 1s forwards;
            -moz-animation: fill 1s forwards;
            z-index: -10;
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 0%;
          height: 1px;
          margin: auto;
          background-color: red;
        }
      }
    }
  }

  .slider {
    grid-column: 1/11;
    grid-row: 2/3;
    background-image: url("/src/assets/nike.jpg");
    background-position: center 60%;
    background-size: cover;
    display: block;
    background-color: yellow;
    position: relative;
    .arrowLeft {
      display: block;
      position: absolute;
      top: calc(50%-1.5rem);
      left: 5%;
      width: 2rem;
      height: 2rem;
      .fa-arrow-circle-left {
        font-size: 3rem;
        color: red;
      }
    }
    .arrowRight {
      @extend .arrowLeft;
      left: 95%;
      .fa-arrow-circle-right {
        @extend .fa-arrow-circle-left;
      }
    }
  }
}
// social Media button

main {
  margin-top: 2%;
  grid-column: 1/ 11;
  grid-row: 5 / 10;
  width: 100%;
  height: 100%;
  // display-flex
  display: flex;
  justify-content: space-between;
  .introduction {
    margin-left: 2%;
    flex-basis: 70%;
    // display lfex ====
    display: flex;
    flex-direction: column;
    h1 {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin-left: 2%;
      flex-basis: 10%;
    }
    h2 {
      @extend h1;
      margin-top: 2%;
    }
    .intro p,
    .promo p {
      line-height: 2rem;
      flex-basis: 40%;
    }
    .strengths {
      list-style-type: none;
      li {
        line-height: 1.8rem;
        .fa-thumbs-up {
          color: #ffa500;
          margin-right: 1rem;
        }
      }
    }
    .promo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .promoBox {
        width: 30%;
        height: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  aside {
    margin-right: 2%;
    // border: 2px solid red;
    flex-basis: 10%;
    border-radius: 2rem;
    box-shadow: 10px 5px 15px black;
    // display flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cooperate {
      margin-top: 1rem;
      font-weight: bold;
    }
    .logo {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
// footer =====================
footer {
  grid-column: 1/11;
  grid-row: 10/11;
  background-color: rgb(23, 24, 26);
  margin-top: 3%;
  // display:flex
  display: flex;
  justify-content: space-around;
  align-items: center;
  .footerBoxes {
    width: 80%;
    height: 70%;
    border-right: 1px solid #aaa;
    margin-bottom: 1%;
    // display:flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .companyName {
      color: white;
      margin: 1rem;
      text-align: center;

      .red {
        color: red;
      }
    }
    .adress,
    .phone {
      margin: 0.2rem;
      color: white;
      font-size: 0.9rem;
      .fa-home,
      .fa-phone {
        margin-right: 0.5rem;
        color: #aaa;
      }
    }
    .openHours {
      @extend .companyName;
    }
    .hours,
    .mail {
      @extend .adress;
      text-decoration: none;
      .fa-clock,
      .fa-envelope {
        @extend .fa-home;
      }
    }
    .watchUs {
      @extend .companyName;
      margin-bottom: 1.4rem;
    }
    .socialMedia {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .facebook {
        flex-basis: 40%;
        width: 5rem;
        padding: 0 0.5rem;
        background-color: #4267b2;
        color: white;
        text-align: center;
        font-size: 2rem;
        border-radius: 10%;
      }
      .instagram {
        @extend .facebook;
        background: linear-gradient(
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
      }
    }
  }
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
