body {
  background-color: #000;
}
.container {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-width: 1366px;
  margin: 0 auto;
}

header {
  grid-column: 1 / 11;
  grid-row: 1 / 4;
  // display grid ========
  display: grid;
  grid-template-rows: 10% 90%;
  nav {
    max-width: 1366px;
    grid-row: 1/2;
    grid-column: 1/ 11;
    background-color: rgb(23, 24, 26);
    position: fixed;
    z-index: 10;
    // ===== display - flex =====
    display: flex;
    justify-content: space-between;
    align-items: center;
    #brand {
      flex-basis: 35%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .navbar {
      flex-basis: 60%;
      margin-right: 2%;
      // ====display-flex===
      display: flex;
      justify-content: flex-end;
      .navi {
        padding: 1.5rem;
        font-size: 1.1rem;

        text-decoration: none;
        color: white;
        text-align: center;
        position: relative;
        // hover
        transition: all 1s linear;
        &:hover {
          color: red;
          z-index: 1;
          &::after {
            animation: fill 1s forwards;
            -webkit-animation: fill 1s forwards;
            -moz-animation: fill 1s forwards;
            z-index: -10;
          }
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 30%;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: 0%;
          height: 1px;
          margin: auto;
          background-color: red;
        }
      }
    }
  }
  // dropdown
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    .dropdown__content {
      display: none;
      position: absolute;
      top: 70%;
      left: -25%;
      background-color: rgba(23, 24, 26, 0.8);
      padding: 0.8rem;
      width: 150%;
      .content__item {
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        text-transform: uppercase;
        &:hover {
          color: red;
        }
      }
      &:hover {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
    #dropdownbtn {
      width: 100%;
      &:hover + div.dropdown__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        animation: dropdown 500ms ease-in-out forwards;
        transform-origin: top;
      }
    }
  }
}
.slider {
  grid-column: 1/11;
  grid-row: 2/3;
  background-image: url("/src/assets/img/banner1.jpg");
  background-position: center 60%;
  background-size: cover;
  display: block;
  position: relative;
  animation: slider 4s linear infinite;
  .dot {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1rem;
    // display flex
    display: flex;
    justify-content: space-around;
    align-items: center;
    span.dot__item {
      width: 3rem;
      height: 0.2rem;
      background-color: #fff;
      cursor: pointer;
      border-radius: 15%;
    }
    span.dot__item.active {
      background-color: red;
    }
  }
}

main {
  grid-column: 1/ 11;
  grid-row: 4 / 9;
  // display-flex
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f8f9f9;
  .promoBox__header {
    justify-self: flex-start;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin: 2rem auto 0 auto;
    padding: 0.4rem;
    color: red;
  }
  .promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .promoBox {
      width: 32%;
      height: auto;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .cooperate {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .cooperate__header {
      flex-basis: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      &::after {
        content: "";
        position: absolute;
        top: 22%;
        left: 0;
        width: 90%;
        height: 0.2rem;
        margin: 0 5%;
        background-color: #000;
      }
    }
    .logo {
      flex-basis: 20%;
      margin: 0 1rem;
      text-align: center;
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}
// modal =======
.modal {
  z-index: 10;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 50%;
  left: 20%;
  background-color: #fff;
  display: none;
  border-radius: 1rem;
  border: 3px solid #4d5250;
  .modal--cancel {
    position: absolute;
    top: -1%;
    left: 92%;
    padding: 0.5rem;
    color: #4d5250;
    cursor: pointer;
    font-size: 2rem;
  }
  .modal__item {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    .modal__img {
      display: block;
      width: 100%;
      height: auto;
      margin: 2rem 0;
    }
  }
}
.modal__active {
  display: block;
  animation: modal 1500ms ease-in-out forwards;
}

// footer =====================
footer {
  grid-column: 1/11;
  grid-row: 9/10;
  background-color: rgb(23, 24, 26);
  // display:flex
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  .footerBoxes {
    width: 80%;
    // height: 70%;
    // border-right: 1px solid #aaa;
    margin-bottom: 1%;
    // display:flex
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .companyName {
      color: white;
      margin: 1rem;
      text-align: left;
      .red {
        color: red;
      }
    }
    .adress,
    .phone {
      margin: 0.2rem;
      color: white;
      font-size: 0.9rem;
      text-align: left;
      .fa-home,
      .fa-phone {
        margin-right: 0.5rem;
        color: #aaa;
      }
    }
    .openHours {
      @extend .companyName;
    }
    .hours,
    .mail {
      @extend .adress;
      text-decoration: none;
      .fa-clock,
      .fa-envelope {
        @extend .fa-home;
      }
    }
    .watchUs {
      @extend .companyName;
      margin-bottom: 1.4rem;
    }
    .socialMedia {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .facebook {
        width: 2.25rem;
        height: 2.25rem;
        text-align: center;
        color: #fff;
        line-height: 3.75rem;
        margin: 0 0.75rem;
        background-color: #4267b2;
        border-radius: 5px;
        overflow: hidden;
      }
      .instagram {
        @extend .facebook;
        line-height: 3.25rem;
        color: #fff;
        border-radius: 5px;
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }
    }
  }
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 70%;
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slider {
  0% {
    opacity: 0.8;
  }

  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes modal {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
