.l-main {
  background-color: rgb(200, 200, 200);
}
.print {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.print__item--table {
  align-self: flex-end;
  width: 25%;
  border-spacing: 0;
}
td {
  text-align: left;
  line-height: 1.8rem;
  padding: 0.2rem;
  background-color: #fff;
  color: #000;
}
.td--color {
  @extend td;
  color: #fff;
  background-color: #000;
}
th {
  @extend td;
  background-color: red;
  padding: 0.2rem;
  color: #fff;
  border-bottom: 2px solid #000;
}
.print__item {
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/template_shirt.png");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
