.print {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.print__item,
.print__item--table {
  outline: 3px solid orange;
  margin: 0 2rem;
}
.print__item {
  padding: 2rem;
  background-color: #aaa;
}
.print__item--table {
}
